node_modules
.dist
build
.git
.gitignore
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env
.env.*
*.local
*.swp
*.swo
.idea
.vscode

# Docker files themselves
Dockerfile*

# OS / Editor
Thumbs.db
*.iml
